<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice">

<!-- 공지글 목록 조회 -->
<select id="list" resultType="smart.notice.NoticeVO">
select row_number() over(order by id) no, n.*, name
from notice n inner join member m on n.writer = m.userid
order by no desc
</select>

<!-- 신규 공지글 저장 -->
<insert id="insert">
insert into notice(title, content, writer, filename, filepath)
values (#{title}, #{content}, #{writer}, #{filename, jdbcType=VARCHAR}
		, #{filepath, jdbcType=VARCHAR})
</insert>

</mapper>