<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="middle">

<!-- ${id} id=id 컬럼으로 인식함 
	#{id} id = 'id' 값을 인식함
-->
<select id="list" resultType="com.hanul.middle.MiddleVO">
	select * from customer order by id desc
</select>

<select id="info" resultType="com.hanul.middle.MemberVO">
	select * from andmember where id = #{id} and password = #{password}
</select>

<delete id="delete">
	delete from customer where id = #{id}
</delete>

<insert id="insert">
	insert into customer (name, email, phone)
values (#{name}, #{email}, #{phone})
</insert>

<update id="update">
update customer set name=#{name}, email=#{email}, phone=#{phone}
where id = #{id}

</update>

<select id="select" resultType="com.hanul.middle.EmployeeVO">
	select e.employee_id as 사번, e.first_name||' '||e.last_name as 이름, 
        case when mod(e.employee_id, 2) = 0 then email||'@gmail.com'
         else email||'@naver.com'
         end as 이메일,
        translate(e.phone_number, '.', '-') as 휴대폰번호,
        to_char(e.hire_date, 'YYYY-MM-DD') as 입사일,
        j.job_title as 담당업무,
        d.department_name as 부서명,
        nvl2(e.commission_pct
        , to_char((e.salary+(e.salary*e.commission_pct))*1289, 'FM999,999,999,999')||'원'||'('||to_char(e.salary*e.commission_pct*1289, 'FM999,999,999,999')||')'
        , to_char(e.salary*1289, 'FM999,999,999,999')||'원') as 급여
from     departments d right outer join employees e on e.department_id=d.department_id
        inner join jobs j using(job_id)
order by 사번
</select>

<select id="search" resultType="com.hanul.middle.EmployeeVO">
	select e.employee_id as 사번, e.first_name||' '||e.last_name as 이름, 
        case when mod(e.employee_id, 2) = 0 then email||'@gmail.com'
         else email||'@naver.com'
         end as 이메일,
        translate(e.phone_number, '.', '-') as 휴대폰번호,
        to_char(e.hire_date, 'YYYY-MM-DD') as 입사일,
        j.job_title as 담당업무,
        d.department_name as 부서명,
        nvl2(e.commission_pct
        , to_char((e.salary+(e.salary*e.commission_pct))*1289, 'FM999,999,999,999')||'원'||'('||to_char(e.salary*e.commission_pct*1289, 'FM999,999,999,999')||')'
        , to_char(e.salary*1289, 'FM999,999,999,999')||'원') as 급여
from     departments d right outer join employees e on e.department_id=d.department_id
        inner join jobs j using(job_id)
where	(e.first_name||' '||e.last_name) like '%'||#{str}||'%' or 
			e.email like '%'||#{str}||'%' or 
			d.department_name like '%'||#{str}||'%'
order by 사번
</select>

</mapper>